{% extends "dox/bulldog.html" %}

{% block weather_ad %}{% endblock weather_ad %}

{% block body %}

<div class="w_row">
	
	<div class="w_col w_C640 w_D980 Cla Dla">
		
		{% block content %} {{ block.super }} {% endblock content %}
		
	</div> <!-- /.w_col -->
	
	<div class="w_col w_C300 Clb Dlb">
		
		{% block secondary %}
			
			{% block medium_rectangle_1 %}
				
				<!-- //////////////////// MEDIUM RECTANGLE 1 \\\\\\\\\\\\\\\\\\\\ -->
				
				<div class='advert'><div id='medium-rectangle-1'><script>googletag.cmd.push(function() { googletag.display('medium-rectangle-1'); });</script></div></div>
				
				<!-- \\\\\\\\\\\\\\\\\\\\ MEDIUM RECTANGLE 1 //////////////////// -->
				
			{% endblock medium_rectangle_1 %}
			
			<hr>
			
			<div class="rc_twitter">
				
				<a class="twitter-timeline" href="https://twitter.com/rg_choice" data-widget-id="296847416181784576" width="600">Tweets by @rg_choice</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				
			</div>
			
		{% endblock secondary %}
		
	</div> <!-- /.w_col -->
	
</div> <!-- /.w_row -->

{% endblock body %}

{% block banner_bottom %}
	
	<!-- stopgap until ROS bottom can be overridden -->
	<div id="bd_banner_bottom" class="bd_banner">
		
		<!-- //////////////////// LEADERBOARD BOTTOM \\\\\\\\\\\\\\\\\\\\ -->
		<div class='advert'><div id='leaderboard-bottom'><script>googletag.cmd.push(function() { googletag.display('leaderboard-bottom'); });</script></div></div>
		<!-- \\\\\\\\\\\\\\\\\\\\ LEADERBOARD BOTTOM //////////////////// -->
		
	</div> <!-- /#banner_bottom -->
	
{% endblock banner_bottom %}