{% extends "dox/bulldog.html" %}

{% load allow_tags %}
{% load splitter %}

{% block leaderboard_1 %}
	
	<!-- //////////////////// Leaderboard 1 \\\\\\\\\\\\\\\\\\\\ -->
	<div class='advert'><div id='leaderboard-top'><script>googletag.cmd.push(function() { googletag.display('leaderboard-top'); });</script></div></div>
	<!-- \\\\\\\\\\\\\\\\\\\\ Leaderboard 1 //////////////////// -->
	
{% endblock leaderboard_1 %}

{% block body %}
	
	<div class="w_row">
		
		<div class="w_col w_C130">&nbsp;</div>
		
		<div class="w_col w_C640 w_D980">
			
			<div id="bd_content">
				
				<div class="section">
					
					<article>
						
						{% block content %}
							
							{{ block.super }}
							
						{% endblock content %}
						
					</article>
					
				</div> <!-- /.section -->
				
			</div> <!-- /#story -->
			
		</div> <!-- /.w_col -->
		
		<div class="w_col w_C130">&nbsp;</div>
		
	</div> <!-- /.w_row -->
	
{% endblock body %}
