{% extends "dox/bulldog_sans.html" %}

{% block banner_bottom %}
	
	<!-- stopgap until ROS bottom can be overridden -->
	<div id="bd_banner_bottom" class="bd_banner">
		
		<!-- //////////////////// LEADERBOARD BOTTOM \\\\\\\\\\\\\\\\\\\\ -->
		
		<div class="mobile_banner advert Aon Bon">
			
			<div id="mobile_banner-no-ros">
				
				<iframe src="http://ox-d.registerguard.com/w/1.0/afr?auid=348991&amp;cb=24156456141" width="320" height="50" frameBorder="0" frameSpacing="0" scrolling="no"></iframe>
				
			</div>
			
		</div>
		
		<div class="leaderboard advert Con Don">
			
			<iframe src="http://ox-d.registerguard.com/w/1.0/afr?auid=348990&amp;cb=24156456141" width="728" height="90" frameBorder="0" frameSpacing="0" scrolling="no"></iframe>
			
		</div>
		
		<!-- \\\\\\\\\\\\\\\\\\\\ LEADERBOARD BOTTOM //////////////////// -->
		
	</div> <!-- /#banner_bottom -->
	
{% endblock banner_bottom %}