<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="http://assets.registerguard.com/vendor/dealtip/1.0/css/dealtip.css" type="text/css">
</head>
<body>

<div id="dtWrap">
	
	<div id="dtMasthead" class="dtClear">
		
		<h6 id="dtLogo"><a href="http://dealtip.upickem.net/engine/splash.aspx">Deal Tip</a>: Today's Incredible Promotion</h6>
		
		<h6 id="dtFlag"><a href="http://www.registerguard.com">The Register-Guard</a>: <i>On the Web</i></h6>
		
	</div> <!-- /#dtMasthead -->
	
	<div id="dt">
	<!-- ##### BEGIN UPICKEM ##### -->
		
		{UPICKEM}
		
	<!-- ##### END UPICKEM ##### -->
	</div> <!-- /#dt -->
	
</div> <!-- /#dtWrap -->

{% include "dox/includes/footer_extra.html" %}

</body>
</html>