{% extends "dox/drone.html" %}

{% block head_ad_vars %}
			// Add Legacy subcategories for targeting
			googletag.pubads().setTargeting('rgm_subcat',['news,legacy,obituaries'])
{% endblock head_ad_vars %}

{% block body %}
	<!-- //////////////////// Medium Rectangle 1 \\\\\\\\\\\\\\\\\\\\ -->
	<div class="advert"><div id='medium-rectangle-1'><script>googletag.cmd.push(function() { googletag.display('medium-rectangle-1'); });</script></div></div>
	<!-- \\\\\\\\\\\\\\\\\\\\ Medium Rectangle 1 //////////////////// -->
{% endblock body %}

{% block banner_bottom %}{% endblock banner_bottom %}
