{# This template is bulldog_sans with matching Leaderboard and Mobile Banners #}

{% extends "dox/bulldog.html" %}

{% block body %}
	
	{% block content %}{{ block.super }}{% endblock content %}
	
{% endblock body %}

{% block banner_bottom %}
	
	<div id="bd_banner-bottom" class="bd_banner">
		
		<!-- //////////////////// LEADERBOARD BOTTOM \\\\\\\\\\\\\\\\\\\\ -->
		
		<div class="mobile_banner advert Aon Bon"><iframe style="height: 50px; left: -10px; position: absolute; width: 320px;" width="320" scrolling="no" height="50" frameborder="0" framespacing="0" src="http://ox-d.registerguard.com/w/1.0/afr?auid=473959&amp;cb=201308281512"></iframe></div>
		
		<div class="leaderboard advert Con Don"><iframe src="http://ox-d.registerguard.com/w/1.0/afr?auid=473955&amp;cb=201308281512" framespacing="0" frameborder="0" height="90" scrolling="no" width="728"></iframe></div>
		
		<!-- \\\\\\\\\\\\\\\\\\\\ LEADERBOARD BOTTOM //////////////////// -->
		
	</div> <!-- /#bd_banner-bottom -->
	
{% endblock banner_bottom %}